<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Veg Kitchen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>    
 </head>
<body class="bg-success">

	<div class="container-fluid">

		<!-- Add Navigation Bar -->
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
 			<a class="navbar-brand" href="#"><img src="vegKitchenLogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">thevegkitchen</a>  
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
    			<ul class="navbar-nav ml-auto">
    	  			<li class="nav-item active">
    	    			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item">
       	 			<a class="nav-link" href="#">Contact us</a>
      				</li>
    			</ul>
       	 	<button onclick="location.href = 'http://127.0.0.1:3000/order-online';" class="btn btn-danger navbar-btn">Order Online</button>
  			</div>
		</nav>
		
		<div id="demo" class="carousel slide" data-ride="carousel">

			<!--caraousal indicators below dots  -->
			<ul class="carousel-indicators">
    			<li data-target="#demo" data-slide-to="0" class="active"></li>
    			<li data-target="#demo" data-slide-to="1"></li>
    			<li data-target="#demo" data-slide-to="2"></li>
  			</ul>

  			<!-- slideshow  -->
  			<div class="carousel-inner ">
    			<div class="carousel-item active">
      				<img class="d-block w-100" src="carousalImage1.jpeg" alt="Los Angeles">
      				<div class="carousel-caption d-none d-md-block">
			        	<h5>First slide label</h5>
          					<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    				</div>	
    			</div>
    			<div class="carousel-item">
      				<img class="d-block w-100" src="carousalImage2.jpeg" alt="Chicago">
   				 </div>
    			<div class="carousel-item">
      				<img class="d-block w-100" src="carousalImage3.jpg" alt="New York">
   				 </div>
  			</div>
  	
  			<!-- carousal left right  -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
    			<span class="carousel-control-prev-icon"></span>
  			</a>
  			<a class="carousel-control-next" href="#demo" data-slide="next">
   				 <span class="carousel-control-next-icon"></span>
  			</a>

		</div>
	</div>      
</body>

</html>







<!-- <div id="demo" class="carousel slide" data-ride="carousel">

  Indicators
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  The slideshow
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-25" src="vegKitchenLogo.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img class="d-block w-25" src="cipLogo.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img class="d-block w-25" src="biryani.jpg" alt="New York">
    </div>
  </div>

  Left and right controls
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div> -->
	
	
	
	<!-- Form using bootstrap
	  <div class="form-group">
		<form action = "/" method = "POST">
         First Name: <input type = "text" name = "first_name" 	class="form-control">  
         </div>
         <br>
      	 <div class="form-group">
         Last Name: <input type = "text" 	class="form-control" name = "last_name">
         </div>
         <div class="form-group">
         <input type = "submit" value = "Submit" class="btn btn-primary">
         </div>
     	 </form> -->
  
