<head>
<title>Order Online	</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>    
        <script src="orderOnline.js"></script> 
<body style="background-color: green;"> 
<div class="container-fluid">

<!-- Logo on the Page --> 			
<a class="navbar-brand" style="color:white;font-family:Lucida Console;"href="http://localhost:3000"><img src="vegKitchenLogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">thevegkitchen</a>  

<div class="row">
	<div class="col-9" >
	<!-- Accordian for listing menu items -->
	<div class="accordion" id="accordionMenu">
  	<!-- 	<div class="card">
   			<div class="card-header" id="headingOne">
    			<h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    			<button class="btn btn-link" type="button" >Starters</button> 
      			</h2>
    		</div>
	    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      		<div class="card-body" >
      		<ul class="list-group" id="startersDiv">
      		
      		</ul>
      		</div>
   	 	</div>
  	</div>
  	<div class="card">
    	<div class="card-header" id="headingTwo">
      		<h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        		<button class="btn btn-link collapsed" type="button">
          			Main Course
        		</button>
      		</h2>
    	</div>
    	<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      		<div class="card-body">
      		<ul class="list-group" id="mainCourseDiv">
      		
      		</ul>
      		</div>
    	</div>
  	</div>
  	<div class="card">
    	<div class="card-header" id="headingThree">
      		<h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        		<button class="btn btn-link collapsed" type="button" >
          			Desserts
        		</button>
      		</h2>
    	</div>
    	<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      		<div class="card-body" >
      		<ul class="list-group" id="dessertsDiv">
      		
      		</ul>
      		</div>
    	</div>
  	</div> -->
</div>
	
	</div>
	<div class="col-3">
	
		<div class="card">
  			<div class="card-header">
    			My Cart
  			</div>
 		 	<div class="card-body">
 		 	
   				 <h5 class="card-title">My Selections</h5>
   				 <ul class="list-group" id="myCartId">
      		
      			</ul>
    				<p class="card-text" id="totalCartValue">All my cart details</p>
    				<a href="#" class="btn btn-primary">Place Order</a>
  			</div>
		</div>

	</div>	
</div>














</div>
</body>
</head>